/*
font-family: 'Dosis', sans-serif;
font-family: 'Inconsolata', monospace;

*/

.App {
  display: grid;
  place-items: center;
  height:100vh;
  font-family: 'Dosis', sans-serif;
}

.container{
  display: grid;
  place-items: center;
  height:100%;
  width: 100%;
  border-radius:30px;
  background:#e8eaec;
  box-shadow: 12px 12px 32px 12px rgba(13, 39, 80, 0.55), -10px -10px 15px white;
}
.timer{
  height: 10vh;
}
.header{
  text-align:center;
}
h1{
  font-size:3rem;
  color:#484848;
  letter-spacing:20px;
}
h2{
  margin-top:30px;
  font-size:1rem;
  color:#484848;
  letter-spacing:5px;
}